{% extends "AppBundle:esculturas:esculturas.html.twig" %}
{% block header %}
    <header>
        <a class="logo">
            <img src=""/>
        </a>
        <ul class="menu">
            <li>Home</li>
            <li>Esculturas</li>
            <li>Ayuda</li>
        </ul>
    </header>
{% endblock %}