<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets filter="sass"
            '@AppBundle/Resources/public/materialize-src/sass/materialize.scss' %}
            <link rel="stylesheet" href="{{ asset_url }}"/>
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block javascripts %}
            <script src="{{ asset('bundles/app/vendor/jquery-1.11.3.min.js') }}"></script>
            <script src="{{ asset('bundles/app/materialize-src/js/bin/materialize.min.js') }}"></script>
        {% endblock %}
    </head>
    <body class="yellow lighten-4">
    {% block header %}
        <header class="white">
            <a class="logo">
                <img src=""/>
            </a>
            <ul class="menu">
                <li>Home</li>
                <li>Esculturas</li>
                <li>Ayuda</li>
            </ul>
        </header>
    {% endblock %}
            {% block body %}{% endblock %}
    {% block footer %}
        <div class=" white footer-copyright">
            <div class="container">
                © 2014 Copyright Text
                <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
        </div>
    {% endblock %}
    </body>
</html>
