<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets filter="sass"
            '@AppBundle/Resources/public/materialize-src/sass/materialize.scss' %}
            <link rel="stylesheet" href="{{ asset_url }}"/>
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body class="red lighten-4">
            {% block body %}{% endblock %}
        {% block javascripts %}
            {% javascripts
            '@AppBundle/Resources/public/vendor/jquery-1.11.3.min.js'
            '@AppBundle/Resources/public/materialize-src/js/*'
            %}{% endjavascripts %}
        {% endblock %}
    </body>
</html>
